body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, 'Helvetica Neue', sans-serif;
	font-size: 18px;
	line-height: 1.5;
	padding: 0;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
	margin: 0.125em auto 0.375em;
	text-align: center;
}

a {
	color: #55f;
}

a:focus,
a:hover {
	color: #aa1e1e;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

figure {
	text-align: center;
}

figure,
p {
	margin: 0 auto 1em;
}
